.course {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 20px;
}
.course h2 {
    color: #333;
    font-size: 12px;
}
.course p {
    color: #666;
}
.container>h2{
    color: tomato;
    border-left: 4px solid tomato;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 700;
}
.row h2{
    font-size:20px;
    text-transform: uppercase;
}