
.header{
    background-color: blue;
    color: white;
    display: flex;
    text-align: center;
}
.header1{
    width: 100%;
    justify-content: space-between;
    font-size: 13px;
    padding: 0 8px;
    list-style-type: none;
}
li{
    border-right: 1px solid white;
    list-style-type: none;
}

