* {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.header_tasbar {
    display: flex;
    align-items: center;
    justify-content:start;
    background-color: blue;
    height: 7%;
    width: 100%;
    list-style-type: none;
    margin: 0px;
}

.header_item {
    color: white;
    width: auto;
    height: auto;
    padding-right: 1%;
    padding-left: 1%;
    border-right: 1px solid white;
    font: 1rem;
}

.header_item:first-child {
    
    color: white;
}